* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 16px;
}

body {
    background-color: #ffdcd3 !important;
}

#input-area {
    margin-top: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

#form {
    background-color: #fff;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.form-control {
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 2px solid rgb(106, 145, 255) !important;
}

button {
    text-align: center;
}

label {
    color: #5a5a5a;
}